@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Merriweather:wght@300&family=Raleway:ital,wght@1,100&family=Spline+Sans&display=swap');

:root {
  --background:  #ffffff;
  --mainFont: #13001a;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
	margin: 0;
	background: var(--background);
  color: var(--mainFont);
	font-family: Merriweather;
  font-size: 16px;
  letter-spacing: .3em;
}

/* Below are the navigation styles */
header {
  background: var(--background);
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 999;
}
.logo {
  margin-left: 1rem;
  color: var(--mainFont);
}
h1 {
  font-size: inherit;
}
h1 p {
  font-size: .75rem;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li:nth-child(1) {
  padding-top: 1em;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: var(--mainFont);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #000000;  
}
.current {
  text-decoration: overline;
}
/* Below is toggle setup */

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle {
  display: none;
}
/* Below uses flex to allow easy alignment! */
.nav-toggle-label {
  position: absolute;
  top: 0; 
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
/* Below is line styling for hamburger menu */
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: var(--mainFont);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 8px;
}
.nav-toggle-label span::after {
  top: 8px;
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/* Media Queries - NAV! */

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(750px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / span 1;
  }
  h1 {
  font-size: larger;
}
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav ul li:nth-child(1) {
  padding-top: 0;
}
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #000000;
    position: absolute;
    top: -.65em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
   /*  transform-origin: left; */
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/*Below is for the hero image */
.hero-image {
  padding-block-start: 5em; 
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url("https://images.unsplash.com/photo-1528975604071-b4dc52a2d18c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 50%;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Below is text positioning  */
.hero-text {
  margin-top: 4em;
  font-size: 1.5rem;
  text-align: center;
  width: 85vw;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  letter-spacing: .2em;
}
/* below styles gallery */

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1.7px;
    color: var(--mainFont);
    font-weight: 500;
    text-decoration: overline;
    padding-top: .5em;
    padding-bottom: .5em;
    /* text-shadow: #e6f7ff 1px 0 10px; */
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.gallery-image {
  padding: 20px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  letter-spacing: 1px;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img, .img-box:active img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box, .img-box:active .transparent-box {
  background-color:rgba(0, 0, 0, 0.75);
}

.img-box:hover .caption, .img-box:active .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8rem;
}

.opacity-low {
  opacity: 0.5;
}
/* Below are MEDIA QUERIES for gallery */
@media screen and (min-width: 800px) {
  .heading {
    font-size: 3rem;
    padding: 0;    
  }
}
/* Below styles events page */

@media screen and (min-width: 800px)
{
  .events {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  } 
  .paper {
    max-width: 26vw;
  }
}
.paper {
	 margin: 2vh auto;
	 min-width: 20vw;  
  /* max-width: 30vh; */
	 /* max-width: 80vh; */
	 min-height: 20vh;
	 border-radius: 4px;
	 box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
	 transition: 0.6s ease;
	 background: white;
	 text-align: center;
}
 .paper:hover {
	 box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
	 transform: translateY(-1px);
}
 img {
	 max-width: 100%;
	 max-height: 100%;
}
 .poster {
	 border-radius: 4px 4px 0 0;
	 margin-bottom: .2em;
}
 .events h1 {
	 font-size: 2.6rem;
	 color: #303336;
	 letter-spacing: 1px;
	 font-family: 'Playfair Display', serif;
}
 .events h2 {
	 font-size: 1rem;
	 color: #000000;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 700;
	 margin-bottom: 10px;
}
 hr {
	 width: 30%;
	 margin-top: 3vh;
	 margin-bottom: 3vh;
	 border: 0;
	 border-bottom: 1px solid #000000;
}
.events p {
	 margin: 2vh;
	 text-align: center;
	 padding-bottom: 1vh;
	 color: #000000;
	 font-family: 'Playfair Display', serif;
	 font-weight: 400;
	 font-size: 1.3rem;
	 line-height: 1.25rem;
}
 
 .space {
	 height: 4vh;
}
/* below starts the contact form */


h1 {
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  /* margin: 1rem; */
  overflow: hidden;
  max-width: 95vw;
  /* min-height: 400px; */
}

.form-content {
  background: url(https://images.unsplash.com/photo-1495548054858-0e78bb72869e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center center no-repeat;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2rem;
  position: relative;
  height: 610px;
}
/* Below stacks message over image  */
.form-content h1, .form-content p {
  z-index: 2;
  line-height: 1.2;
  text-align: left;
}

.form-content p {
  margin-top: 0.5rem;
  position: relative;
}

.form-content p::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 1px;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}

.form-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.6;
}

.contact-form {
  padding: 2rem;
  background-color: #ffffff;
  width: 50%;
}

.contact-form input, textarea {
  display: flex;
  flex-direction: row;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background: #f8f8f8; 
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
}

form #message {
  resize: none;
  font-family: Merriweather, Helvetica, sans-serif
}

.submit-button {
  background-color: #0000ff;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  display: inline-block;
  padding: 1rem 2rem;
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #E4E4E4;
  color: #000000;
  border: 1px solid #737373;
}

@media screen and (max-width: 768px) {

  .container {
    padding: 0.5rem;
  }

  .form-wrapper {
    flex-direction: column;
  }

  .form-content {
    min-height: 300px;
  }


  .contact-form {
    width: 100%;
  }
}
/* Below styles footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fafbfd;
  color: #00356a;
  height: 2em;
  text-align: center;
  line-height: 15%;
  position: fixed;
  bottom: 0;
}
.social a {
  text-decoration: none;
}

/* Below styles footer */
footer {
  background-color: var(--background);
  /* color: #000000; */
  text-align: center;
  /* line-height: 25%; */
  position: sticky;
  bottom: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}
.social i {
  font-size: 1.3em;
}
.FB, .IG, .YT {
  font-size: 1.2rem;
  margin: 0 auto;
}
.social a {
  padding: .3em;
  text-decoration: none;
  color: var(--mainFont);  
}
/* .social a:nth-child(2) {
  padding-right: 1em;
} */
.fa-facebook-square {
  color: #0000ff;
}
.fa-instagram {
  display: flex;
 /*  margin-left: 1em; */
  color: #000000;
}
.fa-youtube {
  color: #b30000;
}
/* Below are footer MEDIA QUERIES! */
@media screen and (min-width: 800px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .social i:hover {
    font-size: 2rem;
  }
  .FB:after {
    content: ' Facebook';
    font-weight: 600;
  }
  .IG:after {
    content: ' Instagram';
    font-weight: 600;
  }
  .YT:after {
    content: ' YouTube';
    font-weight: 600;
  }
}
